body {
    background-image: url(/images/loginbg_01.jpg);
    background-repeat: repeat-x;
    background-color: #ededed;
    height: 100%;
    width: 100%;
    margin-top: 0px;
    margin-right: auto;
    margin-bottom: 0px;
    margin-left: auto;
    padding-top: 0px;
}
#main{
    background-image: url(/images/bgwithbox.jpg);
    background-repeat: no-repeat;
    height: 650px;
    width: 1000px;
    margin-top: 0px;
    margin-right: auto;
    margin-bottom: 0px;
    margin-left: auto;
    padding-top: 0px;
}
#mainhome{
    height: auto;
    width: 1100px;
    margin-top: 0px;
    margin-right: auto;
    margin-bottom: 0px;
    margin-left: auto;
    padding-top: 0px;
}
.logintab{
    margin-top: 0px;
    margin-right: auto;
    margin-bottom: 0px;
    margin-left: auto;
    padding-top: 360px;
    width: 347px;
    height: 470px;
}
.logintext{
    float: left;
    font-family: Arial;
    font-size: 14px;
    color: #214d8a;
    text-shadow: 1px 1px #fff;
}
.logintextcol{
    float: left;
    font-family: Arial;
    font-size: 14px;
    color: #214d8a;
    text-shadow: 1px 1px #fff;
    margin-top: 4px;
}
.forgottext{
    float: left;
    font-family: Arial;
    font-size: 12px;
    color: #4f4f4f;
    margin-left: 23px;
    margin-top: 5px;
}
.textboxbg{
    background-image: url(/images/textbox_03.jpg);
    background-repeat: no-repeat;
    height: 23px;
    width: 248px;
    border: 0;
    margin-left: 18px;
    background-color: #ced3d7;
}
#mainshadow{
    background-image: url(/images/shadow.png);
    background-repeat: repeat-y;
    height: auto;
    width: 1124px;
    margin-top: 0px;
    margin-right: auto;
    margin-bottom: 0px;
    margin-left: auto;
    padding-top: 0px;
}
.top{
    background-image: url(/images/top_.png);
    background-repeat: repeat-x;
    height: 86px;
    width: 1100px;
    float: left;
}
.logo{
    float: left;
    background-image: url(/images/logo.png);
    background-repeat: no-repeat;
    height: 72px;
    width: 166px;
    margin-left: 20px;
    margin-top: 5px;
}
.topright{
    float:right;
    width: 680px;
    height: 30px;
    padding-top: 10px;
}
.toprightleft{
    float: left;
    width: 340px;
    height: 30px;
    font-family: verdana;
    font-size: 14px;
    color: #474747;
    margin-top: 4px;
    text-align: center;
}
.toprightright{
    float: left;
    width: 340px;
    height: 30px;
    text-align: center;
}
.toplink{
    float: left;
    width: auto;
    height: auto;
    font-family: Myriad Pro;
    font-size: 14px;
    margin-top: 6px;
}
.topbar{
    float: left;
    background-image: url(/images/top-navbuton-seperator._03.jpg);
    background-repeat: no-repeat;
    height: 29px;
    width: 1px;
    margin-left: 10px;
    margin-right: 10px;
}
.search{
    background-image: url(/images/search_top.png);
    width: 370px;
    height: 37px;
    float: left;
    margin-left: 182px;
    margin-top: 9px;
}
.searchtext{
    font-family: verdana;
    font-size: 15px;
    color: #fff;
    margin-left: 52px;
    margin-top: 10px;
}
.searchtextbox{
    width: 200px;
    background-color: transparent;
    border-style:solid;
    border-width:1px;
    border-color: #fff;
    color: #fff;
}
.topbottomright{
    float: left;
    width: 328px;
    height: 28px;
    margin-top: 6px;
    padding-top: 12px;
    text-align: right;
    font-family: verdana;
    font-size: 12px;
    color: #474747;
}
.toplinks{
    float: left;
    background-image: url(/images/navbg.jpg);
    background-repeat: repeat-x;
    height: 28px;
    width: 1100px;
}
.linkalign{
    float: left;
    width: 121px;
    height: 28px;
    text-align: center;
}
.linkalign1{
    float: left;
    width: 124px;
    height: 28px;
    text-align: center;
}
.navseperator{
    float: left;
    background-image: url(/images/nav_seperator.jpg);
    background-repeat: no-repeat;
    width: 1px;
    height: 28px;
}
.contentmiddle{
    float: left;
    width: 1100px;
    height: auto;
    background-image: url(/images/mainbg_repeat_y_02.jpg);
    background-repeat: repeat-y;
}
.footer{
    float: left;
    background-image: url(/images/footer.jpg);
    background-repeat: repeat-x;
    height: 24px;
    width: 1100px;
    text-align: center;
    font-family: verdana;
    font-size: 12px;
    color: #fff;
    padding-top: 20px;
}
.leftcontentgradient{
    float: left;
    background-image: url(/images/bgleft.png);
    background-repeat: no-repeat;
    width: 9px;
    height: auto;
    min-height: 687px;
}
.centercontentgradient{
    float: left;
    background-image: url(/images/bgrepeat.jpg);
    background-repeat: repeat-x;
    width: 1082px;
    height: auto;
}
.rightcontentgradient{
    float: left;
    background-image: url(/images/bgright.jpg);
    background-repeat: no-repeat;
    width: 9px;
    height: auto;
    min-height: 687px;
}
.beforefooter{
    float: left;
    background-image: url(/images/botom_02.jpg);
    background-repeat: no-repeat;
    width: 1100px;
    height: 37px;
}
#guestmain{
    float: left;
    height: auto;
    width: 1078px;
}
.guesttop{
    float: left;
    width: 1082px;
    height: 30px;
    margin-top: 5px;
    margin-left: -2px;
}
.guesttoplinks{
    background-image: url(/images/tab_normal.png);
    float: left;
    width: 135px;
    height: 23px;
    font-family: verdana;
    font-size: 13px;
    color: #fff;
    text-align: center;
    margin-left: 5px;
    padding-top: 7px;
}
.midbgrepeat{
    float: left;
    background-image: url(/images/repeat_02_02.jpg);
    background-repeat: repeat-y;
    height: auto;
    min-height: 652px;
    width: 1078px;
    margin-left: 1px;
}
.midbgleft{
    float: left;
    background-image: url(/images/inside-box-left.jpg);
    background-repeat: no-repeat;
    width: 7px;
    height: 624px;
    margin-left: -1px;
}
.midcontent{
    float: left;
    background-image: url(/images/insideboxcenter.jpg);
    background-repeat: repeat-x;
    width: 1065px;
    height: auto;
}
.midbgright{
    float: left;
    background-image: url(/images/inside-box-right.jpg);
    background-repeat: no-repeat;
    width: 7px;
    height: 624px;

}
.midleft{
    float: left;
    height: auto;
    width: 220px;
    margin-left: -5px;
    margin-top: 1px;
}
.searchimg{
    float: left;
    background-image: url(/images/leftsearch_top.png);
    background-repeat: no-repeat;
    width: 220px;
    height: 35px;
    font-family: verdana;
    font-size: 15px;
    color: #fff;
    text-align: center;
    padding-top: 14px;
}
.midbgsearchrepeat{
    float: left;
    background-image: url(/images/search_bg.jpg);
    background-repeat: repeat-y;
    height: auto;
    width: 220px;
}
.guest{
    font-family: verdana;
    font-size: 14px;
    color: #0e4382;
    margin-left: 15px;
    margin-top: 10px;
    margin-bottom: 20px;

}
.midnamebox{
    width: 190px;
    height: 20px;
    border-style:solid;
    border-width:1px;
    border-color: #c5daed;
    border-top-color: #5794bf;
    margin-top: 10px;
}
.midleftbottom{
    float: left;
    background-image: url(/images/search_bottom.png);
    background-repeat: no-repeat;
    width: 220px;
    height: 24px;
}
.midbar{
    float: left;
    background-image: url(../images/search_bar.jpg);
    background-repeat: no-repeat;
    /*width: 218px;*/
    width: 198px;
    height: 32px;
    margin-left: 1px;
    font-family: verdana;
    font-size: 14px;
    color: #fff;
    text-align: left;
    padding-top: 5px;
    padding-left: 20px;
}
.midright{
    float: left;
    width: 845px;
    height: auto;
    margin-left: 5px;
}
.midrighttop{
    float: left;
    width: 845px;
    height: 81px;
    margin-top: 2px;
}
.midrighttopleft{
    float: left;
    background-image: url(/images/insidebox_left.jpg);
    background-repeat: no-repeat;
    width: 12px;
    height: 81px;
}
.midrighttopcenter{
    float: left;
    background-image: url(/images/insidebox_bg.png);
    background-repeat: repeat-x;
    width: 821px;
    height: 81px;
}
.midrighttopright{
    float: left;
    background-image: url(/images/insidebox_right.jpg);
    background-repeat: no-repeat;
    width: 12px;
    height: 81px;
}
.midrighttoplinks{
    float: right;
    width:650px;
    height: 27px;
    margin-top: 25px;
}
.midrighttoplinkdiv{
    float: left;
    background-image: url(/images/button.png);
    background-repeat: no-repeat;
    height: 24px;
    width: 129px;
    font-family: verdana;
    font-size: 13px;
    text-align: center;
    padding-top: 3px;
}



.data{
    float: left;
    width: 847px;
    height: auto;
    /*display:table;*/
    /*overflow: auto;*/

}
.datahead{
    float: left;
    width: 847px;
    height: auto;
    /*display: table-row;*/

    /*overflow-x: auto;*/
    /*overflow-x :scroll;*/

}




.dataheaddiv{
    float: left;
    background-color: #1dacb2;
    width: 120px;
    min-height: 25px;
    height: auto;
    font-family: verdana;
    font-size: 13px;
    text-align: center;
    color: #fff;
    border: solid 1px;
    border-top-color: #11bdc7;
    border-right-color: #bbbfc0;
    border-bottom-color: #b8dfe4;
    border-left: none;
    padding-top: 5px;

}
.perpage
{
    float: left;
    background-color: #1dacb2;
    width: 50%;
    min-height: 25px;
    height: auto;
    font-family: verdana;
    font-size: 13px;
    text-align: left;
    color: #fff;
    border: solid 1px;
    border-top-color: #11bdc7;
    border-right-color: #bbbfc0;
    border-bottom-color: #b8dfe4;
    border-left: none;
    padding-top: 5px;

}

.will_paginate{
    float: left;
    background-color: #1dacb2;
    width: 50%;
    min-height: 25px;
    height: auto;
    font-family: verdana;
    font-size: 13px;
    color: #fff;
    border: solid 1px;
    border-top-color: #11bdc7;
    border-right-color: #bbbfc0;
    border-bottom-color: #b8dfe4;
    border-left: none;
    padding-top: 5px;

}

.dataheadoptions{
    float: left;
    background-color: #1dacb2;
    width: 50px;
    min-height: 25px;
    height: auto;
    font-family: verdana;
    font-size: 13px;
    text-align: center;
    color: #fff;
    border: solid 1px;
    border-top-color: #11bdc7;
    border-right-color: #bbbfc0;
    border-bottom-color: #b8dfe4;
    border-left: none;
    padding-top: 5px;
}
.databellowdiv{
    float: left;
    /*    background-color: #cce9ed;*/
    width: 120px;
    min-height: 25px;
    height: auto;
    padding-top: 5px;
    font-family: verdana;
    font-size: 13px;
    text-align: left;
    color: #000;
    /*    border: solid 1px;
        border-top-color: #11bdc7;
        border-right-color: #bbbfc0;
        border-bottom-color: #b8dfe4;
        border-left: none;*/
    /*display: table-cell;*/
}
.dataheaddivwhite{
    float: left;
    /*    background-color: #f0f8fa;*/
    width: 120px;
    min-height: 25px;
    height: auto;
    padding-top: 5px;
    font-family: verdana;
    font-size: 13px;
    text-align: left;
    color: #000;
    /*     border: solid 1px;
         border-top-color: #11bdc7;
         border-right-color: #bbbfc0;
         border-bottom-color: #b8dfe4;
         border-left: none;*/
    /*display: table-cell;*/
}

.datarowoptions{
    float: left;
    width: 50px;
    min-height: 25px;
    height: auto;
    padding-top: 5px;
    text-align: center;
}

a:link {
    color: #4f4f4f;
    text-decoration: none;
}
a:visited {
    text-decoration: none;
    color: #4f4f4f;
}
a:hover {
    text-decoration: none;
    color: #2f989e;
}
a.toplink{
    color: #fff;
    font-family: verdana;
    font-size: 13px;
    width: 121px;
}
a:hover.toplink{
    background-image: url(/images/button_hover.png);
    background-repeat: no-repeat;
    height: 28px;
    width: 121px;
    margin-top: 0px;
    padding-top: 6px;
}
a.toplink1{
    float: left;
    color: #fff;
    font-family: verdana;
    font-size: 13px;
    color: #fff;
    width: 124px;
    padding-top: 6px;
}
a:hover.toplink1{
    float: left;
    background-image: url(/images/button_hover1.png);
    background-repeat: no-repeat;
    height: 28px;
    width: 124px;
    margin-top: 0px;
    padding-top: 6px;
}
a.foot {
    color: #2f989e;
    text-decoration: none;
}
a:hover.foot {
    text-decoration: none;
    color: #fff;
}
a.midrighttoplink{
    color: #fff;
    text-decoration: none;
}
a:hover.midrighttoplink{
    float: left;
    background-image: url(/images/button_over.png);
    background-repeat: no-repeat;
    height: 24px;
    width: 129px;
    color: #fff;
    text-decoration: none;
    margin-top: -3px;
    padding-top: 3px;
}

.selected_midrighttoplink{
    float: left;
    background-image: url(/images/button_over.png);
    background-repeat: no-repeat;
    height: 24px;
    width: 129px;
    color: #fff;
    text-decoration: none;
    margin-top: -3px;
    padding-top: 3px;
}
a.guestlink {
    color: #fff;
    text-decoration: none;
}
a:hover.guestlink {
    background-image: url(/images/tab_hover.png);
    float: left;
    width: 135px;
    height: 23px;
    font-family: verdana;
    font-size: 13px;
    text-align: center;
    color: #2f989e;
    text-decoration: none;
    padding-top: 7px;
    margin-top: -7px;
}
a.midrighttoplink{
    color: #fff;
    text-decoration: none;
}
a:hover.midrighttoplink{
    float: left;
    background-image: url(/images/button_over.png);
    background-repeat: no-repeat;
    height: 24px;
    width: 129px;
    color: #fff;
    text-decoration: none;
    margin-top: -3px;
    padding-top: 3px;
}

.active_tab{
    float: left;
    color: #ffffff;
    font-family: verdana;
    font-size: 13px;
    background-image: url(/images/button_hover.png);
    background-repeat: no-repeat;
    height: 28px;
    width: 121px;
    margin-top: 0px;
    padding-top: 6px;
}

.button{
    background-image: url(/images/submit_button.png);
    background-repeat: no-repeat;
    height: 22px;
    width: 124px;
    border: 0;
    color: #ffffff;
}

.selected_subtab{
    background-image: url(/images/tab_hover.png);
    float: left;
    width: 135px;
    height: 23px;
    font-family: verdana;
    font-size: 13px;
    text-align: center;
    color: #2f989e;
    text-decoration: none;
    padding-top: 7px;
    margin-top: -7px;
}

td{
    color :white;

}
th{
    color :white;
}



.input_button
{
    background:url(/images/submit_button.png);
    background-repeat: no-repeat;
    height: 27px;
    width: 129px;
    border: 0;
    color: #ffffff;
    font-size: 13px;
    font-family: verdana;
    padding-bottom: 8px;
}

.search_tab_right{
    font-family: verdana;
    font-size: 12px;
    color: #fff;
    padding-top: 120px;
    padding-bottom: 20px
}

.search_tab{
    float: left;
    background-color: #1dacb2;
    min-height: 25px;
    font-family: verdana;
    font-size: 13px;
    padding-top: 5px;
    width:850px;
    text-align: left;
    border: 0;
    font-weight: bold;
}

.pagination{
    width: 100%;
    text-align: center;
    border: 0;
    color:#FFFFFF;
}
