<div class="midrighttopcenter">
  <div class="midrighttoplinks">
    <div class="midrighttoplinkdiv">
      <%= link_to "New Appointment" , new_appointment_path, :class => 'midrighttoplink' %>
    </div>
    <div class="midrighttoplinkdiv">
      <%= link_to "Calendar" , appointments_by_date_appointments_path, :class => 'midrighttoplink'  %>
    </div>
    <div class="midrighttoplinkdiv">
      <%= link_to "Find Appointment", appointments_path,:class => 'midrighttoplink' %>
    </div>

    <div class="midrighttoplinkdiv">
  <%=link_to "Book Class/Workshop", appointments_path, :class => 'midrighttoplink'%>
    </div>

  </div>
</div>