<div class="guesttop">
  <div class="guesttoplinks">
    <%= link_to "Manage Equipments", equipments_path, :class => ((params[:action] == 'index' or params[:action] == 'search') ? 'selected_subtab' : 'guestlink') %>
  </div>
</div>


