<div class="guesttop">
  <div class="guesttoplinks">
    <%= link_to "Manage Logins",    manage_role_users_path, :class => ((params[:action] == 'manage_role' or params[:action] == 'search') ? 'selected_subtab' : 'guestlink') %>
  </div>
  
</div>


